.footer {
    background: linear-gradient(to right, #4CAF50, #2c6e49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0!important; 
    gap: 5px;
}


.footer-logo {
    display: flex;
    align-items: center;
    gap: 2px; 
}

.footer-logo img {
    width: 85px; 
    height: auto; 
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 20px; 
    font-size: 16px; 
}

.footer-links li {
    cursor: pointer;
}

.footer-links li a {
    text-decoration: none;
    color: #252525; 
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #fff!important; 
}


.footer-social-icon {
    display: flex;
    gap: 10px; 
}

.footer-icons-container {
    padding: 5px; 
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.footer-icons-container img {
    width: 20px; 
    height: 20px;
}


.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%;
    margin-bottom: 10px; 
    color: #1a1a1a;
    font-size: 14px; 
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}
