/* Overall Layout */
.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh!important;
  background-color: hsl(0, 0%, 98%)!important;
  padding: 0 10%!important;
  max-width: 100%!important;
}

/* Welcome Text (Left Side) */
.welcome-container {
  flex: 1;
  max-width: 50%;
  text-align: left;
  color: #2c6e49!important;
}

.static-welcome-message h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.static-welcome-message p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

/* Animated Welcome Text */
.welcome-text h1 {
  font-size: 2rem;
  color: #2c6e49!important;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
}

/* Form Container (Right Side) */
.form-container {
  flex: 1;
  display: flex!important;
  justify-content: center!important;
  text-align: center!important;
}

.registerForm, .loginForm {
  width: 500px!important;
  background-color: rgb(204, 251, 182)!important;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  font-size: 25px;
  color: #2c6e49!important;
  margin-bottom: 15px!important;
  text-align: center!important;
}

.textInput {
  width: 100%;
  height: 50px;
  text-align: center!important;
  padding: 10px!important;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.button {
  width: 100%!important;
  padding: 10px!important;
  margin-top: 10px;
  background-color: #2c6e49!important;
  color: white!important;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #1f4d35!important;
}

.statusMessage {
  margin-top: 10px;
  font-size: 16px;
  color: red;
}

.switch-btn {
  background: none!important;
  border: none;
  color: #2c6e49!important;
  font-size: 18px;
  cursor: pointer!important;
}

.switch-btn:hover {
  text-decoration: underline!important;
}
